.shadow {
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}
.trendingnow {
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}
.shadow a {
  cursor: pointer;
}
.shadow a:active {
  color: #489fc5;
}
.shadow a:hover {
  color: #489fc5;
}
.cardContainer::-webkit-scrollbar {
  width: 0;
  scroll-behavior: smooth;
}
.IdeaLeaderCard,
.IdeaLeaderCard2 {
  border: 2px solid #f7f7f7;
  position: relative;
  margin-bottom: 10px;
}
.IdeaLeaderCard2:hover,
.IdeaLeaderCard:hover {
  box-shadow: inset 0px 2px 1px #00000038, 0px 3px 6px #00000038;
}
.IdeaLeaderCard > div > button {
  background-color: #a84266;
  color: white;
  position: absolute;
  bottom: 2px;
  right: 0;
}
.navcontainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.cardcontainer::-webkit-scrollbar {
  width: 0;
}
.bgshadow {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(92, 90, 90, 1) 100%
  );
}
.voiceofchage:hover {
  box-shadow: inset 0px 0px 0px #00000038, 0px 0px 8px #00000038;
}
