.shadow {
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}
.trendingnow {
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;

  height: 483px;
}
.shadow a {
  cursor: pointer;
}
.shadow a:active {
  color: #489fc5;
}
.shadow a:hover {
  color: #489fc5;
}
.cardContainer::-webkit-scrollbar {
  width: 0;
  scroll-behavior: smooth;
}
.IdeaLeaderCard,
.IdeaLeaderCard2 {
  border: 5px solid #f7f7f7;
  position: relative;
}
.IdeaLeaderCard2:hover,
.IdeaLeaderCard:hover {
  box-shadow: 4px 10px 17px 0px #00000038;
}
.IdeaLeaderCard > div > button {
  border-radius: 27px 0px 0px 0px;
  background-color: #a84266;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
.navcontainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
